{% extends 'base.html' %}

{%  block head %}

{%  endblock %}

{%  block title %}

{%  endblock %}

{%  block body %}
    <div>
       <h2>About</h2>
        <p>Pellentesque viverra ornare nisi ac vestibulum. Quisque mauris nulla, imperdiet at pulvinar in, pretium accumsan massa. Donec magna ex, porta a turpis nec, blandit lobortis ligula. Curabitur aliquet interdum tortor, nec scelerisque turpis maximus vitae. Aenean venenatis quam at sagittis scelerisque.</p>
        <ol>
            <li>Vivamus placerat imperdiet purus, eu condimentum lorem. Cras posuere et libero sit amet aliquet. Sed vestibulum maximus eros. Phasellus nec leo gravida, posuere leo vel, rhoncus erat. Donec pharetra, mi eu molestie dictum, justo ante suscipit risus, sit amet luctus ante dui in mi.</li>
            <li>Etiam sollicitudin ex nec nibh faucibus, id congue magna lobortis. Praesent laoreet, nisl id tincidunt lacinia, justo lacus tincidunt dolor, sit amet elementum diam ligula nec odio. Vestibulum cursus, justo non cursus egestas, leo felis dignissim nunc, consequat euismod quam tortor porta est.</li>
            <li>Nam id lectus sed dui ultrices eleifend at convallis lectus. Curabitur aliquet felis quam, in porttitor orci dapibus venenatis. Donec lorem lectus, euismod nec nisi a, ultrices sodales ligula. Ut vitae sapien sodales, porttitor nibh non, condimentum lorem.</li>
        </ol>
        <div>
            <p><strong>Aenean bibendum felis a libero venenatis, ac ornare felis faucibus. Phasellus consectetur felis nisl, sed ullamcorper nunc luctus vel. Morbi at risus vehicula, cursus neque sed, viverra nunc. Pellentesque dapibus eros augue, in efficitur tortor iaculis non. Mauris sollicitudin magna a metus molestie dignissim. Nulla sit amet gravida diam. In massa dui, blandit a euismod nec, feugiat in felis:</strong></p>
            <ul>
              <li><s>Nullam sit amet aliquet tellus.</s></li>
              <li>Curabitur pretium tincidunt odio at convallis.  Nunc rhoncus quam cursus facilisis consequat.</li>
              <li><em>Morbi blandit purus vitae massa gravida, quis eleifend nunc elementum. </em></li>
              <li><strong><em>Duis viverra nulla id lectus fringilla faucibus. Cras rutrum interdum felis, quis tristique nunc pellentesque ut.</em></strong></li>
            </ul>
        </div>
    </div>
{%  endblock %}