{% extends 'base.html' %}

{%  block head %}

{%  endblock %}

{%  block title %}
    Index page
{%  endblock %}

{%  block body %}
    <div>
       <h2>Homepage</h2>
        <p>ivamus vulputate sit amet quam vitae fermentum. Vestibulum eget lacus arcu. Sed id ante quam. Maecenas finibus tincidunt suscipit. Quisque tortor magna, malesuada et malesuada sed, euismod in sem. Vivamus nisl magna, sagittis a eros at, ultrices dictum libero. Morbi venenatis enim id nisi tincidunt, ultricies pharetra massad pellentesque. Mauris eget porta erat, ut scelerisque neque. </p>
        <ol>
            <li>Nullam euismod, sapien vitae tempus pulvinar, arcu arcu vulputate leo, vel maximus purus sem sit amet odio. Nulla ac arcu ut sem hendrerit eleifend. Cras elementum metus quis nibh pulvinar varius. Donec faucibus quam vel scelerisque elementum. Maecenas elementum, enim vitae tincidunt ornare, risus eros elementum augue, sed vestibulum elit nibh sollicitudin mi. In purus urna, elementum non tempus nec, consectetur a libero. </li>
            <li>Aenean bibendum felis a libero venenatis, ac ornare felis faucibus. Phasellus consectetur felis nisl, sed ullamcorper nunc luctus vel. Morbi at risus vehicula, cursus neque sed, viverra nunc. Pellentesque dapibus eros augue, in efficitur tortor iaculis non. Mauris sollicitudin magna a metus molestie dignissim. Nulla sit amet gravida diam. In massa dui, blandit a euismod nec, feugiat in felis. </li>
            <li>Nulla consequat volutpat semper. Cras eu neque nisi. Proin ultrices lobortis sem at blandit. Proin eu tellus tempus, mattis tellus non, sollicitudin lacus. Nullam tempor ornare augue et consequat. Pellentesque in justo ac mauris feugiat placerat quis id ipsum. Etiam aliquet posuere sagittis. Pellentesque viverra ornare nisi ac vestibulum. Quisque mauris nulla, imperdiet at pulvinar in, pretium accumsan massa. Donec magna ex, porta a turpis nec, blandit lobortis ligula. Curabitur aliquet interdum tortor, nec scelerisque turpis maximus vitae. Aenean venenatis quam at sagittis scelerisque. Etiam eu lobortis purus, scelerisque pretium augue. Cras vestibulum odio vitae nibh malesuada rutrum in eu nibh.</li>
        </ol>


    </div>
    <br>

{%  endblock %}